@import 'reset';
@import './variabes/global.scss';
@import './theme/dark.scss';
@import './theme/normal.scss';

body {
  font: var(--font-m);
  color: var(--text-color);
  background: var(--bg-color);
  height: 100%;
  overflow: hidden;
}

.app {
  color: var(--text-color);
  background: var(--bg-color);
  min-height: 100vh;
}

.app_drawer {
  font: var(--font-m);
  color: var(--text-color);
}

.routerWrapper {
  width: 100%;
  flex-grow: 1;
  padding: 20px 20px 20px 45px;
}

.content_page {
  display: flex;
}

.error {
  color: red;
  font-weight: 600;
  margin-bottom: 10px;
}

.error__block {
  display: flex;
  flex-direction: column;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 8px; /* ширина scrollbar */
}

*::-webkit-scrollbar-track {
  background: var(--card-bg); /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--inverted-primary-color); /* цвет плашки */
  border-radius: 20px; /* закругления плашки */
  border: 3px solid var(--primary-color); /* padding вокруг плашки */
}
