@import 'reset';
@import './variabes/global.scss';
@import './theme/dark.scss';
@import './theme/normal.scss';


.body{
    font: var(--font-m);
    color: var(--text-color);
    background: var(--bg-color);
}

.app{
    color: var(--text-color);
    background: var(--bg-color);
    min-height: 100vh;
}

.content_page{
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}