.Button {
    cursor: pointer;
    font-size: var(--font-size-l);
    font-weight: 600;
    padding: 6px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;

    &:hover {
        opacity: 0.7;
        fill-opacity: 0.7;
        stroke-opacity: 0.7;
    }
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.clear_inverted {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    color: var(--primary-color);
}

.background {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
}

.backgroundInverted {
    background-color: var(--bg-color);
    color: var(--secondary-color);
    border: none;
}

.outline {
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid var(--secondary-color);
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.square {
    width: 60px;
    height: 60px;
}

.sizeM {
    width: 40px;
    height: 40px;
}

.sizeX {
    width: 100px;
    height: 100px;
}

.sizeXL {
    width: 130px;
    height: 130px;
}
