.Button{
    cursor: pointer;
    font-size: var(--font-size-l);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}



.clear{
    padding: 0;
    border: none;
    background-color: none;
    outline: none;
}

.clear_inverted{
    background:none ;
    border: none;
    outline: none;
    padding: 0;
    color: var(--primary-color);
}

.background{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
}

.backgroundInverted{
    background-color: var(--bg-color);
    color: var(--secondary-color);
    border: none;
}

.outline{
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid var(--secondary-color);
}

.disabled{
    opacity: 0.5;
    pointer-events: none;
}

.square {
    width: 60px;
    height: 60px;
}




