.SideBar {
  position: relative;
  width: var(--sideBar-width);
  height: calc(100vh - var(--navbar-height));
  background: var(--inverted-bg-color);
  transition: 0.3s;
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  column-gap: 10px;
  width: 100%;
}

.SideBarBtn {
  position: absolute;
  top: 0px;
  right: 5px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  width: 30px;
  height: 40px;
}

.items {
  margin-top: 15px;
  margin-left: 15px;
}

.collapsed {
  width: var(--sideBar-width-collapsed);
}
