
.item{
    display: flex;
    align-items: center;
    column-gap: 15px;
    text-decoration: none;
    color: var(--primary-color);
}

.icon{
    fill: var(--primary-color);
}

.link{
    opacity: 1;
    transition: 0.3s;
}


.collapsed{
    .link{
        opacity: 0;
        transition: 0.3s opacity;
        width: 0;
    }
}