.Input{
    color: var(--secondary-color);
    font-weight: 500;
    outline: none;
    padding-left: 10px;
}



.Input::placeholder{
    color:var(--secondary-color) ;
}



.checkboxText p{
    font-size: 34px;
}

.clear{
    background-color: transparent;
    border: none;
    outline: none;
}

.outline{
    border: 1px solid var(--secondary-color);
    background-color: var(--bg-color);
}

