.Input{
    color: var(--secondary-color);
    font-weight: 700;
}

.Input::placeholder{
    color:var(--secondary-color) ;
}

.clear{
    background-color: transparent;
    border: none;
    outline: none;
}