:root {
    --bg-color:#dddada;
    --inverted-bg-color: #0a0a42;
    --primary-color:#f0f0f0;
    --secondary-color:#455ff3;
    --inverted-secondary-color:#07b31e;
    --text-color:#455ff3;
    --inverted-text-color:#07b31e;
    --editing-color:#07b31e;
    --code-bg:#FFFF;
    //skeleton
    --skeleton-color:#ffff;
    --skeleton-shadow:rgba(0 0 0/20%);
}