.CreateArticleForm {
  min-height: 540px;
  border: 3px solid var(--secondary-color);
  padding: 20px;
  padding-bottom: 50px;
}

.createArticleFom__mainInfo {
  display: flex;
  column-gap: 50px;
}

.CreateArticleFormTitle {
  margin-bottom: 10px;
}

.blocksWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 10px;
}

.createBtn {
  margin-top: 20px;
  width: fit-content;
}

.articleMainFields {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  height: fit-content;
}
