.CreateArticleForm {
    display: flex;
    column-gap: 50px;
    height: 100vh;
    border: 3px solid var(--secondary-color);
    padding: 10px;
}

.CreateArticleFormTitle {
    margin-bottom: 10px;
}

.mainTextInfo {
}

.articleMainFields {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    height: fit-content;
}
