.Drawer {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100000;
    display: flex;
    align-items: flex-end;
}
.sheet {
    z-index: 100;
    position: fixed;
    left: 2vw;
    height: calc(100vh + 100px);
    width: 96vw;
    border-radius: 12px 12px 0px;
    background: var(--bg-color);
    touch-action: none;
    overflow-y: auto;
}
