.createArticleFom__mainInfo {
    display: flex;
    column-gap: 50px;
    margin-bottom: 20px;
}

.textAreaSkeleton {
    margin-bottom: 20px;
}

.applyBtn {
    width: fit-content;
    margin-bottom: 15px;
}
.cancelBtn {
    width: fit-content;
    color: var(--color-error);
}
