.navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 10px;
}

.link_navbar {
    text-decoration: none;
    color: var(--primary-color);
}

.links {
    margin-left: auto;
    display: flex;
    column-gap: 15px;
}
