.ProfileCard{
    padding: 20px;
    border:2px solid var(--inverted-bg-color);
    height: var(--profile-height);
}


.data{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}


.data_name{
    display: flex;
    align-items: center;
    
}

.loading{
    display: flex;
    align-items: center;
    justify-content: center;
}

.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size:42px;
    color: var(--color-error);
}

.error_advice{
    color: var(--secondary-color);
}