.CommentCard {
  padding: 10px;
  border: 1px solid var(--secondary-color);
  margin-top: 20px;
}

.header {
  display: flex;
  align-items: center;
}

.userName {
  margin-left: 10px;
}

.text {
  margin-top: 10px;
}
