.Overlay {
    background: var(--overlay-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    cursor: pointer;
}
